
.title{
    text-align: center;
}

.title span {
    color: #46a358;
}


input, button {
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid #EAEAEA;
}

.bottom-border {
    position: absolute;
    bottom: 0;
    left: o;
    width: 100%;
    height: 5px;
    background-color: #46a358;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
} 


.submit-button {
    background-color: #46a358;
    color: #FFFFFF;
    border: none;
}

form {
    max-width: 300px;
    margin: auto;
}


.social-divider {
    color: #3D3D3D;
    text-align: center;
    align-items: center;
    font-size: 14px;
    margin: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.text {
    text-align: center;
}

.social-button {
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 12px;
    background: white;
}